* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* start header section */

header img {
    height: 600px;
    object-fit: cover;
}



/* end header section */


.navbar a i{
    font-size: 27px;
    color: black;
    margin: 10px;

}

.navbar a i:hover{
    color: blue;
}
